.profile {
    min-height: 100vh;
    padding: 5rem 0;
    background-color: #dee1e1;  
}

.profile__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 65%;
    margin: auto;
    background-color: #ffffff;
    height: 100%;
    border-radius: 15px;
    padding: 3rem 5rem;
}

.profile__container h1 {
    color: #1b6165;
    font-family: var(--primary-font);
    font-size: 2.15rem;
}

.profile__header {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.profile_img {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: 2px solid #808080ab;
    padding: 10px;
    cursor: pointer;
    box-sizing: content-box;
}

.profile__header_btns {
    display: flex;
    align-items: center;
    gap: 0.5rem;   
}

.profile__header_btns button {
    width: 120px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    white-space: nowrap;
    font-size: 1rem;
    font-family: var(--primary-font);
    font-weight: 600;
}

.profile__primary_btn {
    color: #ffffff;
    background-color: #1b6165;
    border: none;
}

.profile__secondary_btn {
    color: #1b6165;
    border: none;
    background: none;
}

.profile__general {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 1rem;
}

.profile_general_input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
    gap: 0.25rem;
}

.profile_label {
    font-size: 0.85rem;
    font-weight: 700;
    color: #333333b6;
    font-family: var(--secondary-font);
}

.profile_input {
    width: 100%;
    font-family: var(--primary-font);
    font-weight: 600;
    color: #1b6165;
    font-size: 0.9rem;
    outline: none;
    border: none;
    caret-color: #1b6165;
    background-color: #dbdddc;
    padding: 0.8rem;
    border-radius: 10px;
}

.profile_security_input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 0.25rem;
}

.p_s_div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.p_s__input {
    width: 70%;
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 0.8rem;
    outline: none;
    border: none;
    caret-color: #333333;
    color: #3333338f;
    padding: 0.5rem 0;
}

.p_s_div button {
    width: 30%;
    cursor: pointer;
    outline: none;
    white-space: nowrap;
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 0.8rem;
    text-align: left;
}

.profile_save {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 3rem;
}

.profile_save button {
    width: 120px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    white-space: nowrap;
    font-size: 1rem;
    font-family: var(--primary-font);
    font-weight: 600;
}



@media (min-width: 992px) and (max-width: 1380px) {
    .profile {
        padding: 4rem 0;
    }
    
    .profile__container {
        gap: 1.5rem;
        width: 75%;
    }
}


@media screen and (max-width: 992px) {
    .profile {
        padding: 3rem 0;
    }
    
    .profile__container {
        gap: 1.5rem;
        width: 85%;
        padding: 2rem 3rem;
    }
    
    .profile__container h1 {
        font-size: 1.85rem;
        margin-top: 1rem;
    }
    .profile_img {
        width: 50px;
        height: 50px;
    }
    
    .profile__header_btns button {
        width: 100px;
        height: 50px;
        font-size: 0.9rem;
    }
    .p_s__input {
        width: 70%;
        font-family: var(--primary-font);
        font-weight: 600;
        font-size: 0.8rem;
    }
    
    .p_s_div button {
        width: 30%;
        cursor: pointer;
        outline: none;
        white-space: nowrap;
        font-family: var(--primary-font);
        font-weight: 600;
        font-size: 0.8rem;
    }
    .profile_save button {
        width: 100px;
        height: 50px;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 800px) {
    .profile {
        padding: 1rem;
    }
    
    .profile__container {
        gap: 1.5rem;
        width: 100%;
        padding: 1rem;
    }
    
    .profile__container h1 {
        font-size: 1.25rem;
        margin-top: 1rem;
    }
    .profile_img {
        width: 45px;
        height: 45px;
    }
    
    .profile__header_btns button {
        width: 90px;
        height: 45px;
        font-size: 0.9rem;
    }
    .profile_general_input {
        width: 80%;
        gap: 0.25rem;
    }
    .profile_save {
        width: 100%;
        margin-top: 1rem;
    }
    .profile_save button {
        width: 90px;
        height: 45px;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 600px) {
    
    .profile__header_btns button {
        width: 80px;
        height: 40px;
        font-size: 0.85rem;
    }
    .profile_general_input {
        width: 100%;
        gap: 0.25rem;
    }
    .p_s__input {
        font-size: 0.7rem;
    }
    
    .p_s_div button {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 400px) {

}
  
@media only screen and (min-device-width: 320px) and (max-device-width: 
  480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {

}


@media only screen and (device-width: 768px) {

}