.spending {
    padding: 3rem 2rem;
    min-height: 100vh;
    background-color: var(--primary-bg);
    position: relative;
}

.spending__container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.spending_left {
    flex: 0.5;
    height: 100%;
    position: relative;
}


.spending_left__content {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    color: var(--text-main);
    height: 100%;
    margin-top: 1rem;
}

.spending_left__content h1 {
    font-size: 2.5rem;
    font-family: var(--primary-font);
    color: #ffffff;
    line-height: 110%;
    font-weight: 600;
}

.spending_info {
    display: flex;
    flex-direction: column;
    gap: 0.85rem;
    margin-top: 1rem;
}

.spending_info p {
    font-size: 1.125rem;
    font-family: var(--secondary-font);
    font-weight: 500;
    line-height: 130%;
    margin-top: 0.5rem;
    color: #ffffff;
}


.spending_right {
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spending_img {
    width: 90%;
    pointer-events: none;
}

.spending_dots {
    position: absolute;
    width: 120px;
}


@media (min-width: 992px) and (max-width: 1380px) {
    .spending_left__content {
        padding: 3rem;
        width: 100%;
        margin-top: 1rem;
    }
}


@media screen and (max-width: 992px) {
    .spending__container {
        flex-direction: column;
        height: 100%;
        gap: 1.5rem;
    }

    .spending_left__content {
        padding: 3rem;
        width: 100%;
        margin-top: 1rem;
    }

    .spending_right {
        flex: 1;
        width: 100%;
    }
    .spending_left__content h1 {
        font-size: 2rem;
    }
    .spending_info p {
        font-size: 1.05rem;
    }


    .spending_img {
        width: 50%;
    }

    .spending_dots {
        display: none;
    }
    
}

@media screen and (max-width: 800px) {
    .spending {
        padding: 0 1rem;
    }
    .spending_left__content {
        padding: 1rem;
        width: 100%;
        margin-top: 0;
        gap: 0.5rem;
    }

    .spending_img {
        width: 70%;
    }

    
}

@media screen and (max-width: 600px) {
    .spending_left__content h1 {
        font-size: 1.85rem;
    }
    .spending_info p {
        font-size: 0.95rem;
    }

    .spending_img {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {

}