.home {
    padding: 0 2rem;
    min-height: 100vh;
    background-color: var(--primary-bg);
}

.home__container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.home_left {
    flex: 0.6;
    height: 100%;
    position: relative;
}


.home_left__content {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 90%;
    gap: 1rem;
    color: var(--text-main);
    height: 100%;
    margin-top: 1rem;
}

.home_left__content h1 {
    font-size: 4.5rem;
    font-family: var(--primary-font);
    color: #ffffff;
    line-height: 110%;
    font-weight: 600;
}

.primary__color {
    color: var(--primary-color);
}

.bold {
    font-weight: 800;
}

.home_left__content p {
    font-size: 1.5rem;
    font-family: var(--secondary-font);
    font-weight: 500;
    line-height: 130%;
    margin-top: 0.5rem;
    color: #ffffff;
}

.home_btn_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    margin-top: 1.5rem;
}



.home_g_btn {
    box-sizing: border-box;
    background-color: #b1bec5;
    color: var(--primary-color);
    outline: none;
    border: none;
    color: #000000ef;
    text-decoration: none;
    height: 60px;
    width: 190px;
    cursor: pointer;
    border-radius: 18px;
    font-size: 1.15rem;
    font-weight: 600;
    white-space: nowrap;
    font-family: var(--secondary-font);
}

.home_right {
    flex: 0.4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing_img {
    width: 100%;
    pointer-events: none;
}


@media (min-width: 992px) and (max-width: 1380px) {
    .home_left__content {
        padding: 3rem;
        width: 100%;
        margin-top: 1rem;
    }
}


@media screen and (max-width: 992px) {
    .home__container {
        flex-direction: column;
        height: 100%;
        gap: 1.5rem;
    }

    .home_left__content {
        padding: 3rem;
        width: 100%;
        margin-top: 1rem;
    }

    .home_right {
        flex: 1;
        width: 100%;
    }
    .home_left__content h1 {
        font-size: 2.5rem;
    }
    .home_left__content p {
        font-size: 1.25rem;
    }

    .home_btn_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;
        margin-top: 0.5rem;
        width: 100%;
    }

    .landing_img {
        width: 50%;
    }


}

@media screen and (max-width: 800px) {
    .home {
        padding: 0 1rem;
    }
    .home_left__content {
        padding: 1rem;
        width: 100%;
        margin-top: 0;
        gap: 0.5rem;
    }

    .home_g_btn {
        height: 55px;
        width: 170px;
        margin-top: 1rem;
    }
    .landing_img {
        width: 70%;
    }

    
}

@media screen and (max-width: 600px) {
    .home_left__content h1 {
        font-size: 2.25rem;
    }
    .home_left__content p {
        font-size: 1rem;
    }
    .home_g_btn {
        height: 50px;
        width: 160px;
        margin-top: 0.5rem;
    }
    .landing_img {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {

}